spring:
  application:
    name: light
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://43.142.179.109:3306/test?characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8
    username: mly
    password: 314159Ax

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    hibernate:
      ddl-auto: update
    open-in-view: false
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  #cachable 使用的缓存类型
  cache:
    type: redis
  data:
    redis:
      repositories:
        enabled: false
  redis:
    host: 127.0.0.1
    port: 6379
    password: _sys31UC
    database: 9
server:
  port: 8090
#文件上传操作
file:
  #文件上传目录
  upload-folder: E:\外包项目整理\light轻巧之光\light\upload\

#配置mybatis
mybatis:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# Sa-Token配置
sa-token:
  # token名称 (同时也是cookie名称)
  token-name: token
  # token有效期，单位s 默认30天, -1代表永不过期
  timeout: 2592000
  # token临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  activity-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid
  # 是否输出操作日志
  is-log: false

# 自动化生成代码配置
auto-config:
  # 前端路径 如果单独放项目之外的路径这里需要配置下,默认不需要配置
  vue-root-path:





