<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.light.entity.mapper.MessageTemplateMapper">
    <select id="listPage" resultType="cn.light.entity.entity.SysMessageTemplate">
        select *
        from sys_message_template
        <where>
          <if test="code != null and code != '' ">
 and code  like CONCAT('%',#{code},'%')
 </if>
        </where>
    </select>

</mapper>