<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.light.entity.mapper.OrderMapper">
    <select id="listPage" resultType="cn.light.entity.entity.SysOrder">
        select *
        from sys_order
        <where>
            <if test="startOwner != null ">
                and owner &gt; #{startOwner}
            </if>
            <if test="endOwner != null ">
                and owner &lt; #{endOwner}
            </if>
            <if test="customerName != null and customerName != '' ">
                and customer_name like CONCAT('%',#{customerName},'%')
            </if>
            <if test="channelName != null and channelName != '' ">
                and channel_name like CONCAT('%',#{channelName},'%')
            </if>
            <if test="operation != null and operation != 0 ">
                and operation = #{operation}
            </if>
        </where>
    </select>

</mapper>